<div class="slider-container">
    <div *ngFor="let image of images">
        <img [src]="image" alt="Slider Image" height="430px">
    </div>
</div>

<main>
    <h2>Explore Our Image Gallery</h2>
    <div class="gallery">
        <img src="https://via.placeholder.com/400x300" alt="Nature 1">
        <img src="https://via.placeholder.com/400x300" alt="Nature 2">
        <img src="https://via.placeholder.com/400x300" alt="Architecture 1">
        <img src="https://via.placeholder.com/400x300" alt="Architecture 2">
        <img src="https://via.placeholder.com/400x300" alt="Animals 1">
        <img src="https://via.placeholder.com/400x300" alt="Animals 2">
        <img src="https://via.placeholder.com/400x300" alt="Animals 2">
        <img src="https://via.placeholder.com/400x300" alt="Animals 2">
        <img src="https://via.placeholder.com/400x300" alt="Animals 2">
        <!-- Add more images as needed -->
    </div>
</main>